[submodule "ovgraphbuild/lib/seqan"]
	path = ovgraphbuild/lib/seqan
	url = https://github.com/seqan/seqan.git
[submodule "componentsearch"]
	path = componentsearch
	url = https://github.com/bonsai-team/ComponentSearch2.git
