[submodule "sortmerna"]
	path = sortmerna
	url = https://github.com/ppericard/sortmerna.git
[submodule "sga"]
	path = sga
	url = https://github.com/jts/sga.git
[submodule "ovgraphbuild/lib/seqan"]
	path = ovgraphbuild/lib/seqan
	url = https://github.com/seqan/seqan.git
[submodule "lib/bamtools"]
	path = lib/bamtools
	url = http://github.com/pezmaster31/bamtools
[submodule "sumaclust"]
	path = sumaclust
	url = https://git.metabarcoding.org/obitools/sumaclust.git
